body {
  background-color: #e6e6fa; /*　背景色　*/
  color: #000000; /* 文字色 */
  font-family: sans-serif; /* フォント */
  text-align: center; /* 中央揃え */
}

h1 {
  font-family: 'Zen Kurenaido', sans-serif; /* タイトルフォント */
  font-size: 2rem;
  color: white;
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
  font-weight: bold;
  padding: 0.5rem;
  line-height: 1.1;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: #ffffe0;
}

input {
  width: 60px;   /* 横幅 */
  font-size: 16px; /* 文字サイズ */
  padding: 1px;  /* 内側の余白（文字と枠の間） */
  text-align: center; /* 中央揃え */
}

levelBox {
  display: frex;
  gap: 0;
  border: 2px solid #000000;
  border-radius: 5px;
  overflow: hidden;
}

levelBpx button, levelBox input {
  margin: 0;
  border: 1px solid #c0c0c0;
}

button.adjustBtn {
  width: 40px;
  color: #000000;
  font-size: 14px;
  padding: 1px;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  gap: 0;
}

button.calBtn {
  padding: 8px 16px;         /* 上下8px、左右16pxの内側余白 */
  margin-top: 10px;           /* 上の要素との間隔10px */
  background-color: #ffcc00;  /* 背景色を黄色に */
  border-radius: 5px;         /* 角を丸くする */
  cursor: pointer;            /* マウスを重ねると指マークになる */
}
